.dial{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    grid-gap: 15px 10px;
    
}

.dial__chevron{
 border: 2px solid green;
 width: 30px;
 height: 30px;
}