.gates{
    position: relative;
}

.gates__symbols{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;  
    grid-gap: 15px 10px;
}

.gates__symbol{
    border-top: 30px solid grey;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
 width: 30px;
 height: 30px;
}