html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

button {
    cursor: pointer;
}